body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.icon {
  width: 70px;
  padding: 3px;
}

#root {
  background-color: #183642;
  padding: 20px;
}

.bottomMargin {
  margin-bottom: 10px;
}

Header {
  background-color: #A5CCD1;
}

.barrinha {
  padding: 0%;
}

.nova {
display: flex;
width: 100%;
}


.testando {
  background-color: #183642;
  margin: 0px;
}

main {
  padding: 20px;
}

.nav-link {
  background-color: #313D5A;
  border: 1px solid;
  border-radius: 3px;
  border-color: #949BA0;
  margin: 2px;
}
#perfil {
  border-radius: 15px;
  margin-top: 15px;
}

.texto {
  color: #EAEAEA;
}